# Ignore binary files
out/
*.bin

# Ignore compiled object files
.vs/
*.o
*.d

# Ignore CMake system files
CMakeFiles
cmake_install.cmake

# Ignore Visual Studio configuration files
CMakeSettings.json
*.vcxproj
*.vcxproj.filters

# Ignore generated executables
dingusppc
dingusppc.exe

# Ignore system files
.DS_Store
Thumb.db

# IDE ignores
build
build-*
*.dir
*.user
DerivedData
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
