# Ignore binary files
out/
*.bin

# Ignore compiled object files
.vs/
*.o
*.d

# Ignore Visual Studio configuration files
CMakeSettings.json

# Ignore generated executables
dingusppc
dingusppc.exe

# Ignore system files
.DS_Store
Thumb.db
